---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kadromuz">
  
    <div class="text-center">
      <br />
      <img src="/img/Bmyo.png" alt="" style="width: 70px; " />
    </div>

    <div
      class="card"
      style="width: 18rem; padding: 40px; float:left ; margin: 40px; margin-top: 100px;"
    >
      <img src="/img/eltezs.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">DR. ÖĞR. SUMRU ELTEZ <br /> ÖĞRETİM ÜYESİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem; float:left ; padding: 40px;margin: 40px;margin-top: 100px; "
    >
      <img src="/img/turkler.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">LEVENT TÜRKLER ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 100px;"
    >
      <img src="/img/nihathoca.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">NİHAT TUNALI ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; margin-top: 100px;"
    >
      <img src="/img/taspinar.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">GÜRCAN TAŞPINAR ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left; margin-top: 50px;"
    >
      <img src="/img/eltezr.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">DR. ÖĞR. RAŞİT Z. ELTEZ ÖĞRETİM ÜYESİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/ozturk.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">DİLEK ÖZTÜRK ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/ataberk.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">DR. EMRE ATABERK ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/bingol.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">BURCU BİNGÖL ÖĞRETİM GÖREVLİSİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/acikyol.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">ŞAHSANE AÇIKYOL ÖZEL KALEM</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/parmaksiz.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">SERAP PARMAKSIZ ÖĞRENCİ İŞLERİ ŞEFİ</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/yoldas.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">ERSİN YOLDAŞ <br /> KAYIT SORUMLUSU</p>
      </div>
    </div>
    <div
      class="card"
      style="width: 18rem;padding: 40px;margin: 40px; float:left;margin-top: 50px;"
    >
      <img src="/img/kose.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">ŞAĞDİYE YAĞMUR KÖSE KÜTÜPHANE</p>
      </div>
    </div>
  
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
  /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
  /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br />
</Layout>
